* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

body {
  margin: 0;
  height: 800px;
  background: linear-gradient(rgb(58, 6, 180) 0%, rgb(116, 78, 223) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

